.sidebar__list {
  height: 500px;
  width: 220px;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  margin-left: 50px;
  list-style: none;
  background-color: #343434;
  border: 5px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar__list__item {
  display: flex;
  flex-direction: row;
  height: 60px;
  line-height: 60px;
}

.sidebar__list__item:hover {
  background-color: white;
}

.sidebar__list__item img {
  height: 60px;
  width: 60px;
  margin-left: 5px;
}

.sidebar__list__item a {
  text-decoration: none;
  color: #000000;
  font-size: 2rem;
  margin-left: 10px;
}

.sidebar__list:hover {
  cursor: pointer;
}
